.conversion-main {
  width: 980px;
  margin-left: 14%;
}

.from-main {
  margin: 2% 0% 0% 15%;
}

.to-main {
  margin: 2% 15% 0% 0%;
}

.text-data{
  margin-left: 2%;
  opacity: 0.65;
}

.input-text {
  height: 51px;
  width: 300px;
  border: 1px solid #e7dcfe;
  background-color: white;
  font-size: 31px;
  padding-left: 20px;
}

.select-field {
  padding-left: 20px;
  width: 324px;
  height: 45px;
  border: 1px solid #e7dcfe;
}
