.from-main {
  margin-top: 2%;
}

.to-main {
  margin-top: 2%;
}

.text-data{
  margin-left: 2%;
  opacity: 0.65;
}

.input-text {
  outline: none;
  height: 51px;
  width: 300px;
  border: 1px solid #e7dcfe;
  background-color: white;
  font-size: 31px;
  padding-left: 20px;
}

.select-field {
  outline: none;
  padding-left: 20px;
  width: 324px;
  height: 45px;
  border: 1px solid #e7dcfe;
  font-family: Montserrat, Medium;
}

 option:checked, option:hover {
   color: white;
   background: rgb(46, 150, 247) repeat ;
 }
