<div
  class="conversion-main"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
>
  <div  fxLayout="column" class="from-main">
    <p class="text-data">FROM</p>
    <input type="text"  class="input-text"/>
        <select matNativeControl required class="select-field">
          <option value="feet">Feet</option>
          <option value="yard">Yard</option>
          <option value="meter">Meter</option>
          <option value="kilometer">Kilometer</option>
        </select>
  </div>
  <div fxLayout="column" class="to-main">
    <p class="text-data">TO</p>
    <input type="text" class="input-text"/>
        <select matNativeControl required class="select-field">
          <option value="feet">Feet</option>
          <option value="yard">Yard</option>
          <option value="meter">Meter</option>
          <option value="kilometer">Kilometer</option>
        </select>
  </div>
</div>
