<div class="main" fxLayout="row" fxLayoutAlign="center center">
 <div fxLayout="column">
  <div class="sub-division">
    <p class="type-name-text">CHOOSE TYPE</p>
  </div>
  <!-- <div class="units-division" fxLayout="row" fxLayoutAlign="center center"> -->
    <div 
    class="card-division" 
    fxLayout="row" 
    fxLayoutAlign="center center"
    fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutGap.xs="10px"
      >
      <mat-card
        [(ngClass)]="length"
        (mouseover)="changeLength = true"
        (mouseout)="onMouseOutLength()"
        (click)="onClickLength()"
        ><img
          *ngIf="changeLength"
          id="length"
          src="../../../assets/images/length-color.png"
          alt="Unit-Type-length"
        />
        <img
          *ngIf="!changeLength"
          id="length"
          src="../../../assets/images/length-no-color.png"
          alt="Unit-Type-length"
        />
        <mat-card-content>
          <p>Length</p>
        </mat-card-content>
      </mat-card>

      <mat-card
        [(ngClass)]="temperature"
        (mouseover)="changeTemperature = true"
        (mouseout)="onMouseOutTemperature()"
        (click)="onClickTemperature()"
        ><img
          *ngIf="changeTemperature"
          id="temperature"
          src="../../../assets/images/temperature.png"
          alt="Unit-Type-Temperature"
        />
        <img
          *ngIf="!changeTemperature"
          id="temperature"
          src="../../../assets/images/temperature-no-color.png"
          alt="Unit-Type-Temperature"
        />
        <mat-card-content>
          <p>Temperature</p>
        </mat-card-content>
      </mat-card>
      <mat-card
        [(ngClass)]="volume"
        (mouseover)="changeVolume = true"
        (mouseout)="onMouseOutVolume()"
        (click)="onClickVolume()"
        ><img
          *ngIf="changeVolume"
          id="volume"
          src="../../../assets/images/volume-color.png"
          alt="Unit-Type-Volume"
        />
        <img
          *ngIf="!changeVolume"
          id="volume"
          src="../../../assets/images/volume-no-color.png"
          alt="Unit-Type-Volume"
        />
        <mat-card-content>
          <p>Volume</p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- </div> -->
  </div>
</div>
<app-unit-convertor [subUnits]="subUnits" [firstInput]="firstInput" [secondInput]="secondInput"></app-unit-convertor>
